.titre{
  color:red;
  text-align:center;
  }
  
  
  .row1{
  /*margin-left:30%;*/
  margin-top:2%;
  width:100%;
  
  }
  .fas {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  color:gold;
  }
  .far {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color:gold;
    }

  
  
  .fas:hover {
  font-size: 23px;
  }
  .far:hover {
    font-size: 23px;
  }
  
  .container1 {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
  
  
  
  #style{
  width: 10%; 
  margin-left: 45%;
    
  }
  
  li#NavBar {
    display:inline-block;
    padding:15px;
   }
   
   li#NavBar:hover {
     color:darkgreen;
     border-bottom: 2px solid green;
     padding-bottom: 13px;
   }

   .vide{
     margin-right: 2%;
   }

.modal-header {border-bottom: none}

.modal-title {font-size: 25px;font-weight: 700;color: #1A237E}

.modal-body {font-style: italic;font-size: 15px;font-weight: 500;color: #1A237E}

.checkbox-form {background: #FFEBEE;color: #D32F2F;margin-top: 10px;cursor: pointer;border-radius: 1px}

.learn {text-decoration: none;color: #fff}

.add-list {height: 45px;line-height: 27px;background-color: #D32F2F;color: #fff !important}

ul#myUL {list-style-type: none;}

#loginDiv{
        border-radius: 5px;
        
        padding: 20px;
        border-style: groove;

    
      }
#signupDiv{
  border-radius: 5px;
        
        padding: 20px;
        border-style: groove;
}

  #signin {
        text-align: center;
        width: 10%;
        border-radius: 10px;

        background-color: #04AA6D;
      }

  #signup{
        text-align: center;
        width: 5%;
        
        background-color: #04AA6D;
      }
#signup1{
        text-align: center;
        width: 8%;
        border-radius: 10px;
        background-color: #04AA6D;
      }
      

#imgcontainer {
        text-align: center;
        margin: 16px 0 8px 0;
        position: relative;
      }

#cancel_button{
        text-align: center;
        width: 7%;
        background-color: #04AA6D;
        border-radius: 10px;
}

#centrer{
  text-align: center;
  font-family: 'Roboto', sans-serif;
   

}

#suname,#spsw,#uname,#psw{

 margin-left: auto;
    margin-right: auto;
    width: 20%;
text-align: center;
}

#color_deconnexion{
  color: #0000008C;
}


  